.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;

  padding: 16px;

  @media (max-width: 550px) {
    flex-direction: column;
  }

  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
